#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=latam --xlayouts='latam'
# System language
lang es_UY.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$I78ciVi3CjJbDRwk$eYMYAPbjV7.vSsdzSsqDsfIfuaJe3S8sIDU5ZUG7mYMMy9/DevbfcJTlmcGzC3ncWDORbHsWmIidQIFOmP0BV.
# System services
services --enabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc
user --groups=wheel --name=rmamadisimo --password=$6$2poUg0SAH5.Wke0v$Ad4yskjiDVzISkB/N.tpHH31zLvE9TW/4I18inKhkHnSeCMy9o.rdqSLT2nU.ecGAKm1LEiwv92Ui35mDeYSj1 --iscrypted --gecos="Runner Mamadisimo "
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@system-admin-tools
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
